* {
  z-index: 1;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

button {
  border-radius: 29px;
  border: none;
  font-size: small;
  font-weight: 500;
  height: 40px;
  width: 190px;
  color: #165CDC;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05);
}

.secondary {
  background-color: #5AB5F9;
  color: #ffffff;
}

.spacer {
  width: 100vw;
  height: 100px;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
}

.header .background {
  position: absolute;
  top: 0;
  left: 0;
}

.stack-top {
  z-index: 0;
}

.header {
  /* border: 1px solid red; */
  height: 85vh;
  width: 100vw;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .header {
    background-color: rgba(91, 174, 250, 0.5);
  }
}

.header-section {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
}

.logo {
  flex: 2;
  /* border: 1px solid yellow; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav {
  flex: 5;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-button {
  flex: 2;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav>a {
  text-decoration: none;
  text-emphasis: none;
  color: #F1F5FD;
  font-family: 'Montserrat', sans-serif;
}

.section-0 {
  position: relative;
  /* border: 1px solid yellow; */
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.section-0>div {
  /* border: 1px solid red; */
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-0-1 {
  margin: 10px;
  padding: 10px;
}

.section-0-1 h1 {
  color: #ffffff;
}

.section-0-1 p {
  color: #ffffff;
}

.section-0-1 h1 {
  font-weight: 800;
}

.section-0-1 p {
  font-size: small;
}

/* section 1 */

.section-1 {
  /* position: relative; */
}

.section-1>div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-1-card {
  height: 345px;
  width: 348px;
}

.section-1-card h1 {
  color: #353535;
  font-size: 24px;
}

.section-1-card p {
  color: #556B82;
  font-size: 14px;
}

.section-1-card a {
  color: #5AB5F9;
  text-decoration: none;
  text-emphasis: none;
  font-size: 14px;
}

.section-2 {
  /* border: 2px solid red; */
  width: 100vw;
  height: 850px;
}

.section-2>div {
  position: relative;
  width: 100vw;
} 

.section-4>div {
  position: relative;
  width: 100vw;
}

.content, .content2 {
  top: 16%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.section2 .content {
  top: 12%;
}

.content * {
  margin-top: 30px;
  margin-bottom: 30px;
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.section-2 h1 {
  text-align: center;
}

.success-stories {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-x: scroll;
}

/* hide scrollbar */

.success-stories::-webkit-scrollbar {
  display: none;
}

.section-3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.section-4 {
  width: 100vw;
  height: 510px;
  /* border: 1px solid red; */
}

.content2 {
  position: absolute;
  top: 30%;
}

.content2 * {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-4 .content2 h1 {
  color: #ffffff;
  margin-bottom: 0px;
}

.section-4 .content2 p {
  color: #ffffff;
  font-size: small;
  margin-top: 0px;
  margin-bottom: 0px;
}

.custom-footer {
  width: 100vw;
  /* border: 1px solid greenyellow; */
  position: relative;
  bottom: 0;
  left: 0;
}

.section-5 {
  /* border: 1px solid red; */
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.section-5>div {
  width: 60vw;
  margin-bottom: 30px;
}

.btn {
  width: 485px;
  height: 59px;
  background: #4087E8;
  border-radius: 9px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}